<h1 >เมนูอาหาร</h1>
<h1>ของคาว</h1>

<div class="card-group">
    <div class="card">
      <img src="https://www.cpbrandsite.com/contents/images/tmivgj9zo5csxqxsvchma9goahawmu2112j26dsv.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://www.cpbrandsite.com/contents/images/tmivgj9zo5csxqxsvchma9goahawmu2112j26dsv.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://www.cpbrandsite.com/contents/images/tmivgj9zo5csxqxsvchma9goahawmu2112j26dsv.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <h1>ของหวาน</h1>
  <div class="card-group">
    <div class="card">
      <img src="https://static.cordonbleu.edu/Files/MediaFile/85333.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> เครมบรูเล่ (Crème Brûlée) </h5>
        <p class="card-text">เป็นเมนูที่อาจจะไม่ได้หาทานง่ายเหมือนเมนูอื่น ๆ เนื่องจากเป็นเมนูที่ต้องทานทันทีเมื่อทำเสร็จถึงจะอร่อยที่สุด เครมบรูเล่เป็นขนมฝรั่งเศสที่ไม่ได้มีขั้นตอนที่ยุ่งยากหรือใช้วัตถุดิบอะไรมากมาย โดยเนื้อสัมผัสของเครมบรูเล่จะเนียนนุ่มคล้ายกับคัสตาร์ด แต่เพิ่มความพิเศษด้วยการเบิร์นคาราเมลที่เลเยอร์ด้านบนจนมีความกรอบและหอมกรุ่นชวนทานที่หากใครได้ลิ้มลองจะต้องติดใจ</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 999 y ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://static.cordonbleu.edu/Files/MediaFile/85333.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://static.cordonbleu.edu/Files/MediaFile/85333.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <h1>เครื่องดื่ม</h1>
  <div class="card-group">
    <div class="card">
      <img src="https://th.wine-now.asia/media/catalog/product/cache/5836d291b7d5a67e34f92ee32ee5d955/w/r/wrw4291bu_12.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://th.wine-now.asia/media/catalog/product/cache/5836d291b7d5a67e34f92ee32ee5d955/w/r/wrw4291bu_12.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://th.wine-now.asia/media/catalog/product/cache/5836d291b7d5a67e34f92ee32ee5d955/w/r/wrw4291bu_12.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
